{
    "parser": "@typescript-eslint/parser",
    "extends": [
        /*
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        */
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        // https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/type-annotation-spacing.md
        // https://github.com/typescript-eslint/typescript-eslint/issues/1489
        "@typescript-eslint/type-annotation-spacing": ["error", {
            "before": false,
            "after": true
        }],
        // "@typescript-eslint/no-use-before-define": 0, // Want 'important' classes/code at beginning of file to find it quicker
        "@typescript-eslint/no-this-alias": [ "error", {
            "allowedNames": [ "self", "that" ] // Allow `const self = this`; `[]` by default
        }]        
    }
}