{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        // https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/type-annotation-spacing.md
        // https://github.com/typescript-eslint/typescript-eslint/issues/1489
        "@typescript-eslint/type-annotation-spacing": ["error", {
            "before": false,
            "after": true
        }]
    }
}