.katapp-css .debug {
	border: solid red 1px;
}
.katapp-css .container {
	background-color: white;
	width: auto;
	margin-left: 50px;
}
.katapp-css .sharkfin {
	min-height: 450px;
}
.katapp-css .padding-20 {
	padding: 20px;
}
.katapp-css .savings,
.katapp-css .hsa {
	min-height_: 300px;
}
.katapp-css .allocation {
	min-height: 600px;
}
.katapp-css .myactions {
	min-height: 150px;
	background-color: #f8ecec;
}
.katapp-css .considerations {
	min-height: 150px;
	background-color: #e8f5ee;
}
.katapp-css .rounded-lg {
	border-radius: 10px !important;
}
.katapp-css .rounded-pill {
	border-radius: 50rem!important;
}
.katapp-css .align-items-center {
	-ms-flex-align: center!important;
	align-items: center!important;
	vertical-align: middle;
}
.katapp-css .vertical-center_ {
	display: table-cell;
	vertical-align: middle;
}
.katapp-css .status-pill {
	min-height: 40px;
	padding-left: 20px;
	color: white;
}
.katapp-css .status-pill div {
	text-align: center;
}
.katapp-css .noUi-handle {
	background: #013d79;
}
body .katapp-css  {
	background-color: white;
	font-size_: 16px;
}
.katapp-css .highcharts-title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}
.katapp-css .highcharts-legend-item,
.katapp-css .highcharts-axis-labels,
.katapp-css .highcharts-axis-title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.katapp-css h4 {
	letter-spacing_: .1em;
	text-transform: uppercase;
}
.katapp-css h5 {
	font-weight: bold;
}
.katapp-css h6 {
	color: grey;
}
.katapp-css .slider-iReturn .noUi-connect,
.katapp-css .redtail .noUi-connect {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAIAAADAusJtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAUSURBVBhXY/i/cjETAwMDBDMwAAAgtgJSYMCo9QAAAABJRU5ErkJggg==");
}
