@media (min-width: 1280px) {
	.kat-app-css .container {
		width: 1270px;
	}
}
.kat-app-css body {
	background-color: #c7c7c7;
}
.kat-app-css .btn-primary,
.kat-app-css .btn-danger,
.kat-app-css .btn-default,
.kat-app-css .btn-success,
.kat-app-css .btn-info,
.kat-app-css .btn-warning {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.kat-app-css .btn-xs {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.kat-app-css .btn-primary {
	background: #333;
	background: -webkit-linear-gradient(#333, #333);
	background: -o-linear-gradient(#333, #333);
	background: -moz-linear-gradient(#333, #333);
	background: linear-gradient(#333, #333);
	color: #fff;
}
.kat-app-css .btn-primary.disabled {
	opacity: 0.3;
}
.kat-app-css .btn-primary:focus,
.kat-app-css .btn-primary:hover {
	background: #F6871E;
	background: -webkit-linear-gradient(#F6871E, #F6871E);
	background: -o-linear-gradient(#F6871E, #F6871E);
	background: -moz-linear-gradient(#F6871E, #F6871E);
	background: linear-gradient(#F6871E, #F6871E);
}
.kat-app-css .btn-primary-inverse {
	background: #F6871E;
	color: #fff;
}
.kat-app-css header .container {
	background-color: #fff;
}
.kat-app-css .top-links > ul > li,
.kat-app-css .top-links > ul > li > a {
	color: #333;
}
.kat-app-css .topnav-toggle {
	background: #333;
}
.kat-app-css .topnav-toggle .icon-bar {
	background-color: #333;
}
.kat-app-css .topnav {
	background-color: #333;
}
.kat-app-css .topnav > ul > li > a {
	color: #fff;
	background-color: #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}
.kat-app-css .topnav > ul > li > a:hover,
.kat-app-css .topnav > ul > li > a:focus,
.kat-app-css .topnav > ul > .active > a {
	background-color: #808080;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.kat-app-css .topnav > ul > li > .dropdown-menu {
	background-color: #333;
	color: #333;
}
.kat-app-css .topnav > ul > li > .dropdown-menu > li > a,
.kat-app-css .topnav > ul > li > .dropdown-menu > li > a:visited {
	color: #333;
}
.kat-app-css .topnav > ul > li > .dropdown-menu > li.active > a,
.kat-app-css .topnav > ul > li > .dropdown-menu > li > a:hover {
	color: #333;
	background-color: #808080;
}
.kat-app-css .page-header {
	color: #333;
}
.kat-app-css .footer-links {
	background-color: #333;
	color: #fff;
}
.kat-app-css footer .footer-links > ul > li > a {
	color: #333;
}
.kat-app-css body.borderless .nav-tabs > li > a {
	color: #333 !important;
}
.kat-app-css body.borderless .nav-tabs > li.active > a,
.kat-app-css body.borderless .nav-tabs > li.active > a:focus,
.kat-app-css body.borderless .nav-tabs > li.active > a:hover {
	color: #333 !important;
}
.kat-app-css body:not(.borderless) .nav-tabs > li.active > a,
.kat-app-css body:not(.borderless) .nav-tabs > li.active > a:focus,
.kat-app-css body:not(.borderless) .nav-tabs > li.active > a:hover {
	color: #fff !important;
	background-color: #333;
	border: 1px solid #333;
}
.kat-app-css body:not(.borderless) .nav-tabs > li.active {
	border-color: #333;
}
.kat-app-css body:not(.borderless) .nav-tabs > li.active a:after {
	border-color: #333 transparent;
}
.kat-app-css .panel-default .panel-heading {
	color: #fff;
	background-color: #F6871E;
}
.kat-app-css .btn-mobile-assumptions div {
	background-color: #333;
}
.kat-app-css .btn-mobile-assumptions p {
	color: #333;
}
.kat-app-css .mobile-toggle-collapse {
	color: #333;
}
.kat-app-css .mobile-toggle-collapse:hover,
.kat-app-css .mobile-toggle-collapse:focus {
	color: #333;
}
.kat-app-css .noUi-handle div {
	color: #F6871E;
}
.kat-app-css .noUi-handle,
.kat-app-css .noUi-horizontal .noUi-handle {
	background: #F6871E;
}
.kat-app-css .table.table-bordered > thead > tr > th,
.kat-app-css .table.table-bordered > tbody > tr.header > th,
.kat-app-css .table.table-bordered > tbody > tr.header > td {
	background-color: #F6871E;
	color: #fff;
	border-color: #F6871E;
}
.kat-app-css .radio input[type="radio"]:checked + label::before {
	border-color: #333;
}
.kat-app-css .radio input[type="radio"] + label::after,
.kat-app-css .radio input[type="radio"]:checked + label::after {
	background-color: #333;
}
@media (max-width: 767px) {
	.kat-app-css body {
		padding-bottom: 50px;
	}
	.kat-app-css .modelingInputs {
		position: fixed;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 50px;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 1000;
		background-color: #fff;
		margin-right: 0;
		margin-left: 0;
		-webkit-transition: top 0.5s ease-out 0s;
		-o-transition: top 0.5s ease-out 0s;
		-moz-transition: top 0.5s ease-out 0s;
		transition: top 0.5s ease-out 0s;
	}
	.kat-app-css .modelingInputs .btn-primary {
		padding: 0;
	}
	.kat-app-css .modelingInputs .modelingInputsInner {
		position: relative;
		padding-top: 15px;
	}
	.kat-app-css body.mobile-assumptions {
		overflow: hidden;
	}
	.kat-app-css body.mobile-assumptions .modelingInputs {
		display: block;
		top: 0;
	}
	.kat-app-css body.mobile-assumptions .modelingInputs .modelingInputsInner {
		top: 0;
	}
	.kat-app-css .btn-mobile-assumptions div {
		padding: 5px 0;
	}
	.kat-app-css .modelerTab p {
		font-weight: bold;
		font-size: 15px;
	}
}
.kat-app-css .logo-left {
	font-size: 2em;
	color: #333;
}
.kat-app-css .logo-left span {
	font-size: 0.8em;
	font-weight: bold;
	color: #333;
}
.kat-app-css .summary-table table thead tr th.value {
	text-align: right;
}
.kat-app-css .summary-table table tbody tr.take-home td {
	background-color: #fcf8e3;
	font-weight: bold;
	color: #118e04;
}
.kat-app-css .result-table table {
	margin-right: auto;
	margin-left: auto;
}
.kat-app-css .result-table table tbody tr td {
	border-width: 0;
}
.kat-app-css div.row > div.label-only > label {
	padding-top: 8px;
}
.kat-app-css .row.pull-bottom > div {
	float: none;
	vertical-align: bottom;
	display: inline-block;
}
