@media (min-width: 1280px) {
	.katapp-css .container {
		width: 1270px;
	}
}
body.borderless .katapp-css div.page-content {
	padding-top: 20px;
	padding-bottom: 20px;
}
.katapp-css .page-content .container {
	background-color: #fff;
}
@media (min-width: 768px) {
	body.borderless .katapp-css div.page-content .container {
		padding-left: 0;
		padding-right: 0;
	}
}
.katapp-css .btn-primary,
.katapp-css .btn-danger,
.katapp-css .btn-default,
.katapp-css .btn-success,
.katapp-css .btn-info,
.katapp-css .btn-warning {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.katapp-css .btn-xs {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.katapp-css .btn-primary {
	background: #333;
	background: -webkit-linear-gradient(#333, #333);
	background: -o-linear-gradient(#333, #333);
	background: -moz-linear-gradient(#333, #333);
	background: linear-gradient(#333, #333);
	color: #fff;
}
.katapp-css .btn-primary.disabled {
	opacity: 0.3;
}
.katapp-css .btn-primary:focus,
.katapp-css .btn-primary:hover {
	background: #F6871E;
	background: -webkit-linear-gradient(#F6871E, #F6871E);
	background: -o-linear-gradient(#F6871E, #F6871E);
	background: -moz-linear-gradient(#F6871E, #F6871E);
	background: linear-gradient(#F6871E, #F6871E);
}
.katapp-css .btn-primary-inverse {
	background: #F6871E;
	color: #fff;
}
.katapp-css header .container {
	background-color: #fff;
}
.katapp-css .top-links > ul > li,
.katapp-css .top-links > ul > li > a {
	color: #333;
}
.katapp-css .topnav-toggle {
	background: #333;
}
.katapp-css .topnav-toggle .icon-bar {
	background-color: #333;
}
.katapp-css .topnav {
	background-color: #333;
}
.katapp-css .topnav > ul > li > a {
	color: #fff;
	background-color: #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}
.katapp-css .topnav > ul > li > a:hover,
.katapp-css .topnav > ul > li > a:focus,
.katapp-css .topnav > ul > .active > a {
	background-color: #808080;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.katapp-css .topnav > ul > li > .dropdown-menu {
	background-color: #333;
	color: #333;
}
.katapp-css .topnav > ul > li > .dropdown-menu > li > a,
.katapp-css .topnav > ul > li > .dropdown-menu > li > a:visited {
	color: #333;
}
.katapp-css .topnav > ul > li > .dropdown-menu > li.active > a,
.katapp-css .topnav > ul > li > .dropdown-menu > li > a:hover {
	color: #333;
	background-color: #808080;
}
.katapp-css .page-header {
	color: #333;
}
.katapp-css .footer-links {
	background-color: #333;
	color: #fff;
}
.katapp-css footer .footer-links > ul > li > a {
	color: #333;
}
body.borderless .katapp-css .nav-tabs > li > a {
	color: #333 !important;
}
body.borderless .katapp-css .nav-tabs > li.active > a,
body.borderless .katapp-css .nav-tabs > li.active > a:focus,
body.borderless .katapp-css .nav-tabs > li.active > a:hover {
	color: #333 !important;
}
body:not(.borderless) .katapp-css .nav-tabs > li.active > a,
body:not(.borderless) .katapp-css .nav-tabs > li.active > a:focus,
body:not(.borderless) .katapp-css .nav-tabs > li.active > a:hover {
	color: #fff !important;
	background-color: #333;
	border: 1px solid #333;
}
body:not(.borderless) .katapp-css .nav-tabs > li.active {
	border-color: #333;
}
body:not(.borderless) .katapp-css .nav-tabs > li.active a:after {
	border-color: #333 transparent;
}
.katapp-css .panel-default .panel-heading {
	color: #fff;
	background-color: #F6871E;
}
.katapp-css .btn-mobile-assumptions div {
	background-color: #333;
}
.katapp-css .btn-mobile-assumptions p {
	color: #333;
}
.katapp-css .mobile-toggle-collapse {
	color: #333;
}
.katapp-css .mobile-toggle-collapse:hover,
.katapp-css .mobile-toggle-collapse:focus {
	color: #333;
}
.katapp-css .table.table-bordered > thead > tr > th,
.katapp-css .table.table-bordered > tbody > tr.header > th,
.katapp-css .table.table-bordered > tbody > tr.header > td {
	background-color: #F6871E;
	color: #fff;
	border-color: #F6871E;
}
.katapp-css .radio input[type="radio"]:checked + label::before {
	border-color: #333;
}
.katapp-css .radio input[type="radio"] + label::after,
.katapp-css .radio input[type="radio"]:checked + label::after {
	background-color: #333;
}
@media (max-width: 767px) {
	body .katapp-css  {
		padding-bottom: 50px;
	}
	.katapp-css .modelingInputs {
		position: fixed;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 50px;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 1000;
		background-color: #fff;
		margin-right: 0;
		margin-left: 0;
		-webkit-transition: top 0.5s ease-out 0s;
		-o-transition: top 0.5s ease-out 0s;
		-moz-transition: top 0.5s ease-out 0s;
		transition: top 0.5s ease-out 0s;
	}
	.katapp-css .modelingInputs .btn-primary {
		padding: 0;
	}
	.katapp-css .modelingInputs .modelingInputsInner {
		position: relative;
		padding-top: 15px;
	}
	body.mobile-assumptions .katapp-css  {
		overflow: hidden;
	}
	body.mobile-assumptions .katapp-css .modelingInputs {
		display: block;
		top: 0;
	}
	body.mobile-assumptions .katapp-css .modelingInputs .modelingInputsInner {
		top: 0;
	}
	.katapp-css .btn-mobile-assumptions div {
		padding: 5px 0;
	}
	.katapp-css .modelerTab p {
		font-weight: bold;
		font-size: 15px;
	}
}
.katapp-css .logo-left {
	font-size: 2em;
	color: #333;
}
.katapp-css .logo-left span {
	font-size: 0.8em;
	font-weight: bold;
	color: #333;
}
.katapp-css .summary-table table thead tr th.value {
	text-align: right;
}
.katapp-css .summary-table table tbody tr.take-home td {
	background-color: #fcf8e3;
	font-weight: bold;
	color: #118e04;
}
.katapp-css .result-table table {
	margin-right: auto;
	margin-left: auto;
}
.katapp-css .result-table table tbody tr td {
	border-width: 0;
}
.katapp-css div.row > div.label-only > label {
	padding-top: 8px;
}
.katapp-css .row.pull-bottom > div {
	float: none;
	vertical-align: bottom;
	display: inline-block;
}
