<rbl-config calc-engine="Conduent_BiscombPOC_SE" templates="standard_templates"></rbl-config>

<p class="myTitle" style="font-weight: bold;">Kat App View: App1.html</p>
<label>Input 1</label>
<input id="input1" name="input1" class="input1" value="default1" />

<script>
    if ( KatApp.pageParameters[ "debugkatapp"] === "1" ) {
        debugger;
    }

    $("{thisView}").on( "onInitialized.RBLe", function( event, application ) {
        // manually trigger a calculation
        application.trace("View " + application.element.attr("rbl-view") + " onInitialized, now calling manual calculate." )
        $(this).KatApp().calculate();

        var id = application.element.attr("rbl-debug-id");
        $(".myTitle", $(this).KatApp().element).html("Kat App " + id + " - View: App1.html - " + application.id);
    });
</script>
