<rbl-template tid="pill-display">
  <div class="rounded-pill border" style="background-color: {color}; margin-top: 10px;">
    <div class="row align-items-center vertical-center status-pill">
      <div class="col-sm-3">{shortname}</div>
      <div class="col-sm-3">{perpaycheck}</div>
      <div class="col-sm-3">{balance}</div>
      <div class="col-sm-3">{balanceproj}</div>
    </div>
  </div>
</rbl-template>

<rbl-template tid="slider-input">
  <div class="form-group slider-control-group">
    <div class="validator-container">
      <a style="display: none;" class="vh{inputname}" role="button" tabindex="0" data-toggle="popover"
        data-trigger="click" data-content-selector=".h{inputname}" data-placement="top">
        <span class="glyphicon glyphicon-info-sign help-icon"></span>
      </a>
      <a style="display: none;" class="vs{inputname}" role="button" tabindex="0" data-placement="top">
        <span class="glyphicon glyphicon glyphicon-volume-up"></span>
      </a>
      <div class="slider-control slider-{inputname}" data-slider-type="nouislider"></div>
      <input name="{inputname}" type="text" id_="{inputname}" class="form-control {inputname}" style="display: none" />
      <span class="error-msg" data-toggle="tooltip" data-placement="top"></span>
    </div>
    <div class="h{inputname}Title" style="display: none;"></div>
    <div class="h{inputname}" style="display: none;"></div>
    <h6 class="text-center">
      <span class="l{inputname}" style="text-transform: uppercase">{inputname} Label</span>
      <span class="sv{inputname}" style="font-weight: bold"></span>
    </h6>
  </div>
</rbl-template>

<rbl-template tid="list-input">
  <div class="form-group">
    <label for="{inputname}" class="control-label">
      <span class="l{inputname}"></span>
      <a style="display: none;" class="vh{inputname} help-icon-anchor" role="button" tabindex="0" data-toggle="popover"
        data-trigger="click" data-content-selector=".h{inputname}" data-placement="top" data-original-title=""
        title=""><span class="glyphicons glyphicons-question-sign"></span></a>
    </label>
    <select class="form-control {inputname}" name="{inputname}"></select>
    <div class="h{inputname}Title" style="display: none;"></div>
    <div class="h{inputname}" style="display: none;"></div>
  </div>
</rbl-template>

<rbl-template tid="date-input">
  <div class="form-group">
    <label for="{inputname}" class="control-label">
      <span class="l{inputname}">Spouse's Date of Birth</span>
      <span class="sv{inputname}"></span>
    </label>
    <a class="vh{inputname}" role="button" tabindex="0" data-toggle="popover" data-trigger="click" data-content-selector=".h{inputname}" data-placement="top" data-original-title="" title="">
      <span class="glyphicon glyphicon-info-sign help-icon"></span>
    </a>
    <a style="display: none;" class="vs{inputname}" role="button" tabindex="0" data-placement="top" href="voice/Help-SpouseDateBirth.mp3">
      <span class="glyphicon glyphicon glyphicon-volume-up"></span>
    </a>
    <div class="h{inputname}Title hidden"></div>
    <div class="h{inputname} hidden"></div>
    <div class="validator-container input-group date">
      <input name="{inputname}" type="text" value="1/1/2020" class="form-control {inputname}" placeholder="mm/dd/yyyy" aria-invalid="false">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      <span class="error-msg addon-suffix" data-toggle="tooltip" data-placement="top" data-original-title="" title=""></span>
    </div>
  </div>
</rbl-template>

<rbl-template tid="text-input">
  <div class="validator-container input-group">
    <span class="input-group-addon">$</span>
    <input name="{inputname}" type="text" value="0" class="form-control {inputname}" aria-invalid="false">
    <span class="error-msg" data-toggle="tooltip" data-placement="top" data-original-title="" title=""></span>
  </div>
</rbl-template>

<rbl-template tid="text">{value}</rbl-template>

<rbl-template tid="li-item">
  <li>{text}</li>
</rbl-template>

<rbl-template tid="p-item">
  <p>{text}</p>
</rbl-template>

<rbl-template tid="carousel">
  <div class="carousel-control-group" rbl-name="{name}">
    <div id="carousel-{name}" class="carousel-default carousel slide" data-ride="false">
      <ol class="carousel-indicators align-items-center" rbl-tid="caro-ind" rbl-source="{source}">
        <!--
        <a style="display:none" class="list-btn"> Show More</a>
        -->
      </ol>
      <div class="carousel-inner" role="listbox" rbl-tid="caro-item" rbl-source="{source}"></div>
      <a class="left carousel-control" href="#carousel-{name}" role="button" data-slide="prev">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </a>
      <a class="right carousel-control" href="#carousel-{name}" role="button" data-slide="next">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </a>
    </div>
    <div id="all-{name}" class="carousel-all" style="display: none;" rbl-tid="caro-item" rbl-source="{source}">
      <div class="text-center">
        <!--
        <a class="carousel-btn"> Show Less</a>
        -->
      </div>
    </div>  
  </div>
</rbl-template>

<rbl-template tid="caro-item">
  <div class="item"><span class="number">{_index1}</span>
    <p>{text}</p>
  </div>
</rbl-template>

<rbl-template tid="caro-ind">
  <li data-slide-to="{_index0}" class=""></li>
</rbl-template>

<rbl-template tid="chart-highcharts">
  <div class="chart chart-responsive"></div>
</rbl-template>

<script>
  Highcharts.setOptions({
    "lang": {
      "decimalPoint": ".",
      "thousandsSep": ",",
      "months": ["January", "February", "March", "April", "May", "June", "July", "August",
        "September", "October", "November", "December", ""
      ],
      "shortMonths": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov",
        "Dec", ""
      ],
      "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      "shortWeekdays": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
    }
  });

  if (KatApp.pageParameters["debugkatapp"] === "t.{thisTemplate}") {
    debugger;
  }

  $.fn.KatApp.templateOn("{thisTemplate}", "onCalculation.RBLe", function (event, calculationResults, calcOptions, application) {
    const view = this;
    const templateBuilder = $.fn.KatApp.standardTemplateBuilderFactory( application );

    application.trace("Processing onCalculation.RBLe for Template [{thisTemplate}]..." );

    $("[rbl-tid='slider-input']", view).each(function () {
      templateBuilder.buildSlider( $(this) );
    });
    
    $("[rbl-tid='chart-highcharts']", view).each(function () {
      templateBuilder.buildHighCharts( $(this) );
    });

    $(".carousel-control-group", view).each(function () {
      templateBuilder.buildCarousel( $(this) );
    });
  });
</script>