<!-- Markup Templates -->
<rbl-template tid="pill-display">
  <div class="rounded-pill border" style="background-color: {color}; margin-top: 10px;">
    <div class="row align-items-center vertical-center status-pill">
      <div class="col-sm-3">{shortname}</div>
      <div class="col-sm-3">{perpaycheck}</div>
      <div class="col-sm-3">{balance}</div>
      <div class="col-sm-3">{balanceproj}</div>
    </div>
  </div>
</rbl-template>

<rbl-template tid="text">{value}</rbl-template>

<rbl-template tid="li-item">
  <li>{text}</li>
</rbl-template>

<rbl-template tid="p-item">
  <p>{text}</p>
</rbl-template>

<rbl-template tid="carousel">
  <div class="carousel-control-group" rbl-name="{name}">
    <div id="carousel-{name}" class="carousel-default carousel slide" data-ride="false">
      <ol class="carousel-indicators align-items-center" rbl-tid="caro-ind" rbl-source="{source}" rbl-prepend="true">
        <a style="display:none" class="list-btn" rbl-preserve="true"> Show More</a>
      </ol>
      <div class="carousel-inner" role="listbox" rbl-tid="caro-item" rbl-source="{source}"></div>
      <a class="left carousel-control" data-target="#carousel-{name}" role="button" data-slide="prev">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </a>
      <a class="right carousel-control" data-target="#carousel-{name}" role="button" data-slide="next">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </a>
    </div>
    <div id="all-{name}" class="carousel-all" style="display: none;" rbl-tid="caro-item" rbl-source="{source}" rbl-prepend="true">
      <div class="text-center" rbl-preserve="true">
        <a class="carousel-btn"> Show Less</a>
      </div>
    </div>  
  </div>
</rbl-template>

<rbl-template tid="caro-item">
  <div class="item"><span class="number">{_index1}</span>
    <p>{text}</p>
  </div>
</rbl-template>

<rbl-template tid="caro-ind">
  <li data-slide-to="{_index0}" class=""></li>
</rbl-template>

<rbl-template tid="validation-summary">
  <div class="ModelerValidationTable alert alert-danger" role="alert" title="Please review the following issues:" style="display: none;">
    <p><strong>Please review the following issues:</strong></p>
  </div>
</rbl-template>

<rbl-template tid="result-table">
</rbl-template>

<!-- Input templates -->
<!--
  Should I process similiar 'data-*' items as Bootstrap* server controls?
  1) HideLabel
  3) LabelCss
  4) HelpContent/HelpPlacement/HelpIcon/Bootstrap4 glyph or no?
  5) InputCss
  5) CssClass
  6) FormGroupCss
  
  Should I process data-* attributes on slider
  1) Can 'make' a slider from only data-* attributes?
-->
<rbl-template tid="input-textbox">
  <div class="form-group v{inputname}">
    <label class="control-label">
      <span class="l{inputname}"></span> <span class="sv{inputname}"></span>
      <a style="display: none;" class="vh{inputname} help-icon-anchor" role="button" tabindex="0" data-toggle="popover" data-trigger="click" data-content-selector=".h{inputname}" data-placement="top">
        <span class="glyphicon glyphicon-info-sign help-icon"></span>
      </a>
      <a style="display: none;" class="vs{inputname} help-icon-anchor" role="button" tabindex="0">
        <span class="glyphicon glyphicon-volume-up"></span>
      </a>
    </label>
    <div class="validator-container"> 
      <input name="{inputname}" id="{inputname}" type="text" class="form-control {inputname}">
      <div class="{inputname}DisplayOnly"></div>
      <span class="error-msg" data-toggle="tooltip" data-placement="top auto"></span>      
    </div>
    <div class="h{inputname}Title" style="display: none;"></div>
    <div class="h{inputname}" style="display: none;"></div>
  </div>
</rbl-template>

<rbl-template tid="input-dropdown">
  <div class="form-group v{inputname}">
    <label class="control-label">
      <span class="l{inputname}"></span> <span class="sv{inputname}"></span>
      <a style="display: none;" class="vh{inputname} help-icon-anchor" role="button" tabindex="0" data-toggle="popover" data-trigger="click" data-content-selector=".h{inputname}" data-placement="top">
        <span class="glyphicon glyphicon-info-sign help-icon"></span>
      </a>
      <a style="display: none;" class="vs{inputname} help-icon-anchor" role="button" tabindex="0">
        <span class="glyphicon glyphicon-volume-up"></span>
      </a>
    </label>
    <div class="validator-container"> 
      <select name="{inputname}" id="{inputname}" class="form-control bootstrap-select show-tick {inputname}" tabindex="-98">
      </select>
      <span class="error-msg" data-toggle="tooltip" data-placement="top auto"></span>      
    </div>
    <div class="h{inputname}Title" style="display: none;"></div>
    <div class="h{inputname}" style="display: none;"></div>
  </div>
</rbl-template>

<rbl-template tid="input-slider">
  <div class="form-group v{inputname}">
    <label class="control-label">
      <span class="l{inputname}"></span> <span class="sv{inputname}"></span>
      <a style="display: none;" class="vh{inputname} help-icon-anchor" role="button" tabindex="0" data-toggle="popover" data-trigger="click" data-content-selector=".h{inputname}" data-placement="top">
        <span class="glyphicon glyphicon-info-sign help-icon"></span>
      </a>
      <a style="display: none;" class="vs{inputname} help-icon-anchor" role="button" tabindex="0">
        <span class="glyphicon glyphicon-volume-up"></span>
      </a>
    </label>
    <div class="validator-container"> 
      <div class="slider-control slider-{inputname}" data-slider-type="nouislider"></div>
      <input name="{inputname}" type="text" id="{inputname}" class="form-control {inputname}" style="display: none" />
      <span class="error-msg" data-toggle="tooltip" data-placement="top auto"></span>      
    </div>
    <div class="h{inputname}Title" style="display: none;"></div>
    <div class="h{inputname}" style="display: none;"></div>
  </div>
</rbl-template>

<rbl-template tid="input-checkbox">
  <div class="form-group validator-container checkbox-container v{inputname}">
    <span class="checkbox abc-checkbox {inputname} l{inputname}">
      <input id="{inputname}" type="checkbox" name="{inputname}">
      <label for="{inputname}"></label>
    </span>
    <a style="display: none;" class="vh{inputname} help-icon-anchor" role="button" tabindex="0" data-toggle="popover" data-trigger="click" data-content-selector=".h{inputname}" data-placement="top">
      <span class="glyphicon glyphicon-info-sign help-icon"></span>
    </a>
    <a style="display: none;" class="vs{inputname} help-icon-anchor" role="button" tabindex="0">
      <span class="glyphicon glyphicon-volume-up"></span>
    </a>
    <span class="error-msg" data-toggle="tooltip" data-placement="top auto"></span>      
    <div class="h{inputname}Title" style="display: none;"></div>
    <div class="h{inputname}" style="display: none;"></div>
  </div>
</rbl-template>

<rbl-template tid="chart-highcharts">
  <div class="chart chart-responsive"></div>
</rbl-template>

<script>
  if (KatApp.pageParameters["debugkatapp"] === "t.{thisTemplate}") {
    debugger;
  }
</script>